# To UPDATE and TEST use: pre-commit install && pre-commit run --all-files
repos:
  # --------------------------------------------------
  # Ruff - Linter & Formatter
  # --------------------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        name: Ruff (linter)
        args: ["--fix"]     # Automatically fix simple linting issues
      - id: ruff-format
        name: Ruff (formatter)

  # --------------------------------------------------
  # Mypy - Type Checker (with Django plugin)
  # --------------------------------------------------
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        name: Mypy (type checker)
        types: [python]
        additional_dependencies:
          - djangorestframework==3.16.1
          - django-stubs==5.2.7
          - django-stubs-ext==5.2.7
          - djangorestframework-stubs==3.16.5
          - types-requests
          - types-PyYAML
