# ==========================================================
# PYTEST CONFIGURATION
# ==========================================================
[tool.pytest.ini_options]
# Django settings module used for testing
DJANGO_SETTINGS_MODULE = "app.core.settings.test"

# Patterns for test file discovery
python_files = ["tests.py", "test_*.py", "*_tests.py"]

# Default pytest options
addopts = [
    "--reuse-db",
    "-v",
    "--cov=app",
    "--cov-fail-under=50",
    "--cov-report=term-missing:skip-covered",
    "--cov-report=xml",
]

# Warnings configuration
filterwarnings = [
    "ignore::DeprecationWarning:django.*",
    "ignore::PendingDeprecationWarning:django.*",
    "ignore::UserWarning:django.*",
    "ignore::RuntimeWarning:django.*",
    "ignore::DeprecationWarning:rest_framework.*",
    "ignore::PendingDeprecationWarning:rest_framework.*",
    "default::DeprecationWarning:app.*",
    "default::PendingDeprecationWarning:app.*",
]

[tool.coverage.run]
branch = false
source = ["app"]
omit = ["*/migrations/*", "*/tests/*"]

# ======================================================
# Ruff configuration
# ======================================================
[tool.ruff]
target-version = "py314"
line-length = 88
src = ["app", "tests"]

[tool.ruff.lint]
select = [
    "E",   # pycodestyle errors
    "W",   # pycodestyle warnings
    "F",   # pyflakes
    "I",   # isort
    "B",   # flake8-bugbear
    "C4",  # flake8-comprehensions
    "UP",  # pyupgrade
    "DJ",  # flake8-django
]
exclude = [
    "*/migrations/*",  # ignora todas las migraciones
]

[tool.ruff.lint.isort]
known-first-party = ["app"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false

# ======================================================
# Bandit configuration
# ======================================================
[tool.bandit]
targets = ["app"]
exclude = ["tests", "migrations"]
