# ==========================================================
# PYTEST CONFIGURATION
# ==========================================================
[tool.pytest.ini_options]
# Django settings module used for testing
DJANGO_SETTINGS_MODULE = "app.core.settings.test"

# Patterns for test file discovery
python_files = ["tests.py", "test_*.py", "*_tests.py"]

# Default pytest options
addopts = [
    "--reuse-db",
    "-v",
    "--cov=app",
    "--cov-report=term-missing",
    "--cov-report=xml",
]

# Warnings configuration
filterwarnings = [
    # Ignore Deprecation warnings from Django and third-party libs
    "ignore::DeprecationWarning:django.*",
    "ignore::PendingDeprecationWarning:django.*",
    "ignore::DeprecationWarning:rest_framework.*",
    "ignore::PendingDeprecationWarning:rest_framework.*",

    # Show (default) warnings from your own apps
    "default::DeprecationWarning:core.*",
    "default::PendingDeprecationWarning:core.*",
    "default::DeprecationWarning:accounts.*",
    "default::PendingDeprecationWarning:accounts.*"
]

# ======================================================
# Ruff configuration
# ======================================================
[tool.ruff]
src = ["app"]

# ======================================================
# Mypy configuration
# ======================================================
[tool.mypy]
files = ["app"]
python_version = "3.14"
ignore_missing_imports = true
plugins = ["mypy_django_plugin.main"]

[tool.django-stubs]
django_settings_module = "app.core.settings.dev"

# ======================================================
# Bandit configuration
# ======================================================
[tool.bandit]
exclude_dirs = ["*/tests/*", "/tests/*", "*/migrations/*"]
