services:
  backend:
    container_name: backend_test
    image: docker-backend:test
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile
      target: test
    environment:
      SUPABASE_SECRET_KEY: ${SUPABASE_SECRET_KEY}
      SUPABASE_AUTH_TEST_EMAIL: ${SUPABASE_AUTH_TEST_EMAIL}
      SUPABASE_AUTH_TEST_PASSWORD: ${SUPABASE_AUTH_TEST_PASSWORD}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
    command: sh -c "python manage.py migrate && pytest"
