name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Run Linter in Docker Container
        run: make lint-check

      - name: Run Type Check in Docker Container
        run: make type-check

      - name: Run Tests in Docker Container
        run: make test


